//theme colors
$bg-linear: linear-gradient(90deg, #384af6, #8826af);
$blue: #384af6;
$purple: #8826af;
$white: #ffffff;
$yellow: #ffb300;

//standard heading color
$greyheading: #d8d8d8;

//standard button colors;
$greybuttontext: #d8d8d8;
$greybuttonbg: #707070;

//standard content color;
$blackishText: #1c2530;
