@import "../../assets/scss/variables.scss";

.try-form {
  text-align: center;
  .try-form-heading {
    font-size: 60px;
    font-weight: 800;
    line-height: 61px;
    background: $gradientheading;
    -webkit-background-clip: text;
    padding: 10px;

    -webkit-text-fill-color: transparent;
    max-width: 850px;
    margin: 0px auto 30px;
  }
  .try-form-desc {
    font-size: 24px;
    font-weight: 600;
    line-height: 41px;
    text-align: center;
    max-width: 1200px;
    margin: 0px auto 50px;
  }
  .form-parent {
    align-items: center;
    margin: 30px auto;
    max-width: 1142px;
    .form-group {
      input {
        max-width: 630px;
        min-width: 250px;
        background: $white !important;
        border: none;
        -webkit-appearance: none;
        box-shadow: 0px 2px 4px rgba(181, 181, 181, 0.5) !important;
        border-radius: 18.5px;
        margin: 15px;
        outline: none;
        padding: 34px 41px;
        color: #afafaf;
        font-size: 40px;
        font-weight: 600;
        &::placeholder {
          color: #afafaf;
        }
        @media (max-width: 1300px) {
          font-size: 25px;
          padding: 15px 20px;
        }
        @media (max-width: 500px) {
          width: 250px;
          font-size: 16px;
        }
      }
      .full-width {
        max-width: 97.5%;
        width: 100% !important;
        @media (max-width: 1300px) {
          max-width: 720px;
        }
        @media (max-width: 900px) {
          max-width: 350px;
        }
        @media (max-width: 500px) {
          max-width: 250px;
          font-size: 16px;
        }
      }
    }
    .flex-input {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
    .form-submit-button {
      background-color: transparent;
      padding: 2px 25px;
      font-size: 30px;
      font-weight: 800;
      color: $purple;

      border: 4px solid $purple;
      border-radius: 34px;
      transition: 0.2s;
      text-decoration: none;
      cursor: pointer;
      margin-top: 30px;
      &:hover {
        background: $purple;
        color: $white;
      }
    }
  }
}

$breakpoint: 900px;

@media (max-width: $breakpoint) {
  .try-form {
    text-align: center;
    padding: 30px 20px;
    .try-form-heading {
      font-size: 40px;
      line-height: 50px;
    }
    .try-form-desc {
      font-size: 20px;
      line-height: 34px;
    }
    .form-parent {
      align-items: center;
      margin: 30px auto;
      max-width: 1400px;

      .flex-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .form-submit-button {
        font-size: 20px;
      }
    }
  }
}
