.footer {
  width: 100%;
  min-height: 300px;
  background: linear-gradient(90deg, #384af6, #8826af);
  box-shadow: 0px -1px 12px rgb(150 150 150 / 10%);
  padding: 50px 20px;

  color: white;
  .footer-row-1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
  }
  .footer-row-2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    .footer-row-2-sub-flex {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      div {
        margin: 0px 10px;
      }
    }
  }
  .footer-item-social {
    margin-bottom: 20px;
    .footer-icons-parent {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      img {
        height: 15px;
        margin: 0px 10px;
      }
    }
  }
  .footer-item {
    max-width: 600px;
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    a {
      text-decoration: none;
    }
  }
  .footer-item-heading {
    font-weight: 800;
    margin-bottom: 9px;
    font-size: 50px;
    font-weight: 800;
  }
  .footer-item-text {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    color: white !important;
  }
  .footer-item-button {
    color: #fff !important;
    border-radius: 35px !important;
    padding: 1px 17px !important;
    border: 3px solid white;
    background-color: transparent;
    font-size: 20px !important;
    font-weight: 800 !important;
    margin: 15px 0px;
  }
}

@media (max-width: 700px) {
  .footer-row-1 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer-item-form {
    margin-bottom: 20px;
  }

  .footer-item {
    margin-bottom: 20px;
  }
  .footer-item-email-input {
    margin-bottom: 20px;
  }
}
