.nav-bar {
  background: #ffffff;
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0 !important;
  .image {
    margin-bottom: 0;
    max-width: inherit !important;
    margin-right: 15px;
  }
  .navbar-toggler {
    border-color: transparent !important;
    color: #567c91 !important;
  }
  .nav-link.button-mobile {
    display: none;
  }
  .login-button--mobile {
    display: none;
  }
  .container-fluid {
    padding-right: 160px !important;
    padding-left: 160px !important;
  }
  @media screen and (max-width: 1200px) {
    .container-fluid {
      padding-right: 20px !important;
      padding-left: 20px !important;
    }
  }
  @media (max-width: 576px) {
    .navbar-nav {
      background: linear-gradient(180deg, #eeeeee 0%, #fafafa 100%);
      a {
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 1px solid #e0e0e0;
      }
    }
    .login-button--mobile {
      display: block;
    }
    .login-button {
      display: none;
    }
  }
}
.nav-buttons {
  a {
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 16px;
  }
  a.login-button {
    margin-right: 0;
  }
}
.login-button {
  color: #fff !important;
  background: linear-gradient(90deg, #558ba2 0%, #51aaab 100%);
  border-radius: 35px !important;
  padding: 5px 30px !important;
  align-self: center;
  font-weight: bold;
}
